aside
      h3 推文
      #asidetool
        ul#accordion.accordion
          li
            .link
              | nodejs
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='/async_io') 异步I/O
              li
                a 异步编程
              li
                a(href='#/net_program') 网络编程
              li
                a(href='#/buffer') Buffer
              li
                a(href='#') 内存控制
          li
            .link
              | Javascript
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='#') 浏览器兼容
              li
                a(href='#') 性能优化
              li
                a(href='#') 继承
              li
                a(href='#') 闭包
              li
                a(href='#') 作用域
              li
                a(href='#') Ajax
              li
                a(href='#') JSON
              li
                a(href='#') 模块化
              li
                a(href='#') ES6
          li
            .link
              | CSS3
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='#') 动画
              li
                a(href='#') 绘图技巧
              li
                a(href='#') CSS3兼容性
          li
            .link
              | Web其他
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='#') HTTP指南
              li
                a(href='#') Web安全
              li
                a(href='#') SEO
          li
            .link
              | 摄影精选
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='#') 器材选购
              li
                a(href='#') 初级摄影
              li
                a(href='#') 摄影进阶
              li
                a(href='#') 后期
          li
            .link
              | 热门电子
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='#') 手机
              li
                a(href='#') 电脑
              li
                a(href='#') 平板
          li
            .link
              | Talk-NBA
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='#') 克村
              li
                a(href='#') 加州之强
              li
                a(href='#') final-storys
