aside
      h3 推文
      #asidetool
        ul#accordion.accordion
          li
            .link
              | nodejs
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='/async_io') 异步I/O
              li
                a(href='/async_program') 异步编程
              li
                a(href='/net_program') 网络编程
              li
                a(href='/buffer') Buffer
              li
                a(href='/memory_control') 内存控制
          li
            .link
              | Javascript
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='/browser_compat') 浏览器兼容
              li
                a(href='/optimize') 性能优化
              li
                a(href='/inherit') 继承
              li
                a(href='/closure') 闭包
              li
                a(href='/scope') 作用域
              li
                a(href='/ajax') Ajax
              li
                a(href='/json') JSON
              li
                a(href='/modularity') 模块化
          li
            .link
              | CSS3
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='/animate') 动画
              li
                a(href='/cssdraw') 绘图技巧
              li
                a(href='/css3_compat') CSS3兼容性
          li
            .link
              | Web其他
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='/guide_http') HTTP指南
              li
                a(href='/web_safe') Web安全
              li
                a(href='/seo') SEO
          li
            .link
              | 摄影精选
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='/select_equip') 器材选购
              li
                a(href='/shoot_primer') 初级摄影
              li
                a(href='/shoot_advance') 摄影进阶
              li
                a(href='/better_pic') 后期
          li
            .link
              | 热门电子
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='/phone') 手机
              li
                a(href='/computer') 电脑
          li
            .link
              | Talk-NBA
              span.glyphicon.glyphicon-chevron-down
            ul.submenu
              li
                a(href='/cleveland') 克村
              li
                a(href='/golden_state') 加州之强
              li
                a(href='/final_storys') final-storys
