extends layout

block content
    div
        h2 文章o标题
        p.separate . . . . . . . . . . . . . . . . . .
        p
          | 正文ijijijijijij文正文正文正文正文正文正文正文正文正文正文
          | 正文正文正文正文正文正文正文正文正文
 